<!DOCTYPE html>
<html ng-app="pinger">
  <head>
    <title>Ping Master</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">

  </head>
  <body>
    <!-- <header> -->
  <!--     <div id="windowControlMinimize">Minimize!</div>
      <div id="windowControlClose">Close!</div>
      <div id="windowControlMaximize">Maximize!</div>
   <!--</header> -->


   <div class="container" ng-controller="MainCtrl as mc">
    <div class="row">

        <form class="form-inline" role="form" ng-submit="mc.addIP()">
          <div class="form-group">
            <div class="input-group">
              <label class="sr-only" for="IP_field">IP Adress</label>
              <input type="text" class="form-control" id="IP_field" placeholder="Enter an IP adress / hostname" ng-model="mc.ip.address">
            </div>
            <div class="input-group">
              <label class="sr-only" for="alias_field">Alias</label>
              <input type="text" class="form-control" id="alias_field" placeholder="Enter an IP alias" ng-model="mc.ip.alias">
            </div>
          </div>
          {{ip}}
          <button type="submit" class="btn btn-default">Add</button>
        </form>

      </div>

      <div class="row">
        <table class="table table-condensed table-hover table-striped">

          <caption>Current added IPs:</caption>

          <thead>
            <tr>
              <th>IP Adress / hostname</th>
              <th>IP Alias</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="item in mc.ipArray">
              <td>{{item.address}}</td>
              <td>{{item.alias}}</td>
              <td>{{item.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <button class="btn btn-success" ng-click="mc.pingRemotes()">Start Pinging</button>
        <button class="btn btn-danger" ng-click="mc.stopPing()">Stop Pinging</button>
      </div>


  </div>


  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

  <script type="text/javascript" src="js/controllers/MainCtrl.js"></script>

  <script type="text/javascript" src="js/services/TCPService.js"></script>

  <!--<script src="js/windowManagement.js"></script>-->
  <script src="app.js"></script>

  </body>
</html>